.active {
    background: rgba(245, 48, 98, 0.08);
    color: #F53062;
    width: 100%;
    max-width: 245px;
    border-radius: 10px;
    font-weight: 600;
}
.regular {
    color: #757575;
    width: 100%;
    max-width: 245px;
    border-radius: 10px;
}
.active-icon {
    color: #2065d1;
}
.icon {
    color: #757575;
}
.accountStyle {
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    background-color: #edeff1;
}
